<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程</title>
    <script src="../js/vue.js"></script>
    <script src="../js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../css/ele-ui.css">
    <link rel="stylesheet" href="../css/global.css">
    <script src="../js/ele-ui.js"></script>
</head>
<body>
    <div id="app">
        <!-- 导航区 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }">教学管理</el-breadcrumb-item>
            <el-breadcrumb-item>课程管理</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 卡片 -->
        <el-card class="box-card">
            <!-- 搜索区 -->
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-input placeholder="请输入内容" v-model="example.name">
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <el-button type="primary" v-if="hasButtons.insertBtn" @click="insertDialogVisible = true">新增课程</el-button>
                </el-col>
            </el-row>
            <!-- 表格区 -->
            <el-table :data="tableData" border stripe>
                <el-table-column prop="id" label="课程编号"></el-table-column>
                <el-table-column prop="name" label="课程名称"></el-table-column>
                <el-table-column prop="level" label="所属阶段"></el-table-column>
                <el-table-column prop="courseTime" label="课时"></el-table-column>
                <el-table-column prop="teacher" label="讲师"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-tooltip effect="dark" content="修改课程" placement="top-end" v-if="hasButtons.updateBtn">
                            <el-button type="primary" icon="el-icon-edit" @click="showUpdateDialog(scope.row.id)"></el-button>
                        </el-tooltip>
                        <el-popconfirm title="此操作将不可逆，确认?" @on-confirm="deleteCourse(scope.row)" v-if="hasButtons.deleteBtn">
                            <el-button slot="reference" type="danger" icon="el-icon-delete"></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页组件 -->
            <el-pagination @size-change="handleSizeChange"
                     @current-change="handleCurrentChange"
                    :current-page.sync="example.current"
                    :page-sizes="[1, 2, 4, 6]"
                    :page-size="6"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pageInfo.total">
            </el-pagination>
        </el-card>
        <!-- 新增模态框 -->
        <el-dialog title="新增课程" :visible.sync="insertDialogVisible" width="30%"
                   @close="insertDialogClosed">
            <!-- 模态框内容主体区域 -->
            <el-form :model="insertForm" :rules="insertFormRules" ref="insertFormRef" label-width="100px">
                <el-form-item label="课程名称" prop="name">
                    <el-input v-model="insertForm.name"></el-input>
                </el-form-item>
                <el-form-item label="所属阶段" prop="level">
                    <el-select v-model="insertForm.level" placeholder="请选择课程所属阶段">
                        <el-option label="一阶段" value="1"></el-option>
                        <el-option label="二阶段" value="2"></el-option>
                        <el-option label="三阶段" value="3"></el-option>
                        <el-option label="四阶段" value="4"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="课时" prop="courseTime">
                    <el-input-number v-model="insertForm.courseTime" :min="1" :max="5" label="课时/周"></el-input-number>
                </el-form-item>
                <el-form-item label="讲师" prop="teacher">
                    <el-input v-model="insertForm.teacher"></el-input>
                </el-form-item>
            </el-form>
            <!-- 模态框底部区域 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="insertDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="insertData">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 修改模态框 -->
        <el-dialog title="修改课程" :visible.sync="updateDialogVisible" width="30%"
                   @close="updateDialogClosed">
            <!-- 模态框内容主体区域 -->
            <el-form :model="updateForm" :rules="updateFormRules" ref="updateFormRef" label-width="100px">
                <el-form-item label="课程名称" prop="name">
                    <el-input v-model="updateForm.name" disabled></el-input>
                </el-form-item>
                <el-form-item label="所属阶段" prop="level">
                    <el-select v-model="updateForm.level" placeholder="请选择课程所属阶段">
                        <el-option label="一阶段" value="1"></el-option>
                        <el-option label="二阶段" value="2"></el-option>
                        <el-option label="三阶段" value="3"></el-option>
                        <el-option label="四阶段" value="4"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="课时" prop="courseTime">
                    <el-input-number v-model="updateForm.courseTime" :min="1" :max="5" label="课时/周"></el-input-number>
                </el-form-item>
                <el-form-item label="讲师" prop="teacher">
                    <el-input v-model="updateForm.teacher"></el-input>
                </el-form-item>
            </el-form>
            <!-- 模态框底部区域 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="updateDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateData">确 定</el-button>
            </span>
        </el-dialog>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                // 表格数据
                tableData: [],
                // 查询条件
                example: {
                    // 当前页
                    current: 1,
                    // 每页显示数据条数
                    pageSize: 6,
                },
                // 分页信息
                pageInfo: {
                    // 总页数
                    pages: null,
                    // 总数据条数
                    total: null,
                    // 课程名
                    name: ""
                },
                // 显示按钮
                hasButtons: {
                    deleteBtn: false,
                    updateBtn: false,
                    insertBtn: false
                },
                // 新增模态框
                insertDialogVisible: false,
                // 修改模态框
                updateDialogVisible: false,
                // 新增数据
                insertForm: {
                    id: null,
                    name: "",
                    level: "",
                    courseTime: "",
                    teacher: ""
                },
                // 修改数据
                updateForm: {},
                // 新增表单预验证规则
                insertFormRules: {
                    name: [
                        {required: true, message: "请输入课程名", trigger: "blur"},
                        {min: 3, max: 12, message: "课程名长度为 3 - 12 字符", trigger: "blur"}
                    ],
                    level: [
                        {required: true, message: "请选择课程所属阶段", trigger: "blur"}
                    ],
                    courseTime: [
                        {required: true, message: "课时 1 - 5 星期", trigger: "blur"}
                    ],
                    teacher: [
                        {required: true, message: "请输入课程负责讲师", trigger: "blur"},
                        {min: 2, max: 4, message: "讲师名长度为 2 - 4 字符", trigger: "blur"}
                    ],
                },
                // 修改表单预验证规则
                updateFormRules: {
                    level: [
                        {required: true, message: "请选择课程所属阶段", trigger: "blur"}
                    ],
                    courseTime: [
                        {required: true, message: "课时 1 - 5 星期", trigger: "blur"}
                    ],
                    teacher: [
                        {required: true, message: "请输入课程负责讲师", trigger: "blur"},
                        {min: 2, max: 4, message: "讲师名长度为 2 - 4 字符", trigger: "blur"}
                    ],
                },
            },
            // 初始化加载数据
            created() {
                // 所有课程
                this.selectCourses();
                // 加载表格按钮
                this.selectButtons();
            },
            // 侦听搜索内容
            watch: {
                // 课程名
                "example.name"() {
                    this.selectCourses();
                }
            },
            methods: {
                // 查询所有课程
                selectCourses() {
                    let _this = this;
                    $.ajax({
                        url: "/course?",
                        type: "GET",
                        data: _this.example,
                        dataType: "JSON",
                        success: function (data) {
                            // 数据绑定
                            _this.tableData = data.bean.records;
                            _this.pageInfo.total = data.bean.total;
                            _this.pageInfo.pages = data.bean.pages;
                        }
                    });
                },
                // 根据 ID 查询
                selectById(id) {
                    let _this = this;
                    $.ajax({
                        url: "/course/" + id,
                        type: "GET",
                        success: function (data) {
                            // 数据绑定
                            _this.updateForm = data.bean;
                        }
                    });
                },
                // 改变每页显示条数
                handleSizeChange(val) {
                    // 当前页数置为 1
                    this.example.current = 1;
                    this.example.pageSize = val;
                    this.selectCourses();
                },
                // 改变当前页数
                handleCurrentChange(val) {
                    this.current = val;
                    this.selectCourses();
                },
                // 删除
                deleteCourse(row) {
                    let _this = this;
                    $.ajax({
                        url: "/course/" + row.id,
                        type: "DELETE",
                        dataType: "JSON",
                        success: function () {
                            _this.$notify({
                                title: "success",
                                message: "删除成功",
                                type: 'success'
                            });
                            _this.selectCourses();
                        }
                    });
                },
                // 查询所有按钮
                selectButtons() {
                    let _this = this;
                    // 获取外层 html 传入的参数
                    let parentId = parent.window.document.getElementById("parentId").value
                    $.ajax({
                        url: "/menu/button?parentId=" + parentId,
                        type: "GET",
                        dataType: "JSON",
                        success: function (data) {
                            let $data = $(data.bean);
                            $data.each(function () {
                                if (this.name == "新增课程") {
                                    _this.hasButtons.insertBtn = true;
                                }
                                if (this.name == "修改课程") {
                                    _this.hasButtons.updateBtn = true;
                                }
                                if (this.name == "删除课程") {
                                    _this.hasButtons.deleteBtn = true;
                                }
                            });
                        }
                    });
                },
                // 新增模态框关闭，重置表单内容
                insertDialogClosed() {
                    this.$refs.insertFormRef.resetFields();
                },
                // 修改模态框关闭，重置表单内容
                updateDialogClosed() {
                    this.$refs.updateFormRef.resetFields();
                },
                // 新增数据
                insertData() {
                    let _this = this;
                    this.$refs.insertFormRef.validate(validate => {
                        if (!validate) {
                            // 表单预验证不通过
                            return;
                        }
                        // 通过则新增
                        $.ajax({
                            url: "/course",
                            type: "POST",
                            data: _this.insertForm,
                            success: function (data) {
                                // 新增成功提示框
                                _this.$message.success(data.message);
                            },
                            error: function (data) {
                                // 错误提示框
                                _this.$message.error(data.message);
                            }
                        });
                        // 关闭模态框
                        _this.insertDialogVisible = false;
                        _this.selectCourses();
                    });
                },
                // 搜索
                search() {
                    this.selectCourses();
                },
                // 展示修改数据模态框
                showUpdateDialog(id) {
                    // 查询出当前数据
                    this.selectById(id);
                    // 打开模态框
                    this.updateDialogVisible = true;
                },
                // 修改数据
                updateData() {
                    let _this = this;
                    this.$refs.updateFormRef.validate(validate => {
                        if (!validate) {
                            // 表单预验证不通过
                            return;
                        }
                        // 通过则修改
                        $.ajax({
                            url: "/course",
                            type: "PUT",
                            data: _this.updateForm,
                            success: function (data) {
                                // 新增成功提示框
                                _this.$message.success(data.message);
                            },
                            error: function (data) {
                                // 错误提示框
                                _this.$message.error(data.message);
                            }
                        });
                        // 关闭模态框
                        _this.updateDialogVisible = false;
                        _this.selectCourses();
                    });
                }

            }
        });
    </script>
</body>
</html>