<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.reader.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniuxy.reader.entity.Collection">
        <id column="collection_id" property="collectionId" />
        <result column="user_id" property="userId" />
        <result column="book_id" property="bookId" />
        <result column="collection_time" property="collectionTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collection_id, user_id, book_id, collection_time
    </sql>

</mapper>
